<div class="container text-center">
  <h1 class="title_products">Conheca Nossos Produtos Campeoes de Vendas</h1>
<div>
  <div class="row">
    <ng-container *ngFor="let productList of filterCategory | filter:searchKey:'title'">

    <div class="col ">

      <div class="container-sm container-md container-xl">
        <div class="container_header">

            <img class="imagem_card_header" src="{{productList.image}}" alt="">
            <h5 class="pg_container" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{productList.title}}</h5>
            <p class="pg_container" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{productList.description}}</p>
            <p class="preco"><strong>Price:</strong> ${{productList.price}}</p>
             <div class="row">
              <button class="btn btn-primary" (click)="addtocart(productList)">Add to cart</button>

             </div>
            <div class="row">
              <button type="button" class="btn btn-danger">Excluir</button>

            </div>
        </div>

      </div>

    </div>
  </ng-container>






  </div>
</div>



</div>
