.container-sm {
  border-radius: 20px;

  background-color: #c7c0c0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {

  position: relative;
  bottom: 50px;
  background-color: #c7c0c0;

  border: 2px solid gray;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  height: 800px;
  border-radius: 20px;
}

.title_form {
  color: gray;
  font-weight: 900;
  font-size: 2.5em;
  text-shadow: 1px 1px 1px #111111;
  padding-top: 10px;
  font-family: "Passions Conflict", cursive, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagem_header_form {
 position: relative;
 right: 20px;
  margin-bottom: 10px;
  border: 1px solid black;
  height: 300px;
  width: 106%;
  border-radius: 20px;
}

label {
  font-size: 0.9em;
}

#label_senha {
  position: relative;
  right: 13px;
}

form input {
  background-color: #e2dddd;
  border: 1px solid black;
  position: relative;
  right: 20%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#exampleFormControlInput1 {
  width: 100%;
  margin-left: 20%;
}

.btn-success {
  border: 1px solid #03fc4e;
  background-color: #03fc4e;

  font-size: 1em;
  font-weight: 900;
  border: 1px solid black;
  margin-right: 50px;
  width: 97%;
}

.btn-success:hover {
  color: #03fc4e;
  background-color: #fff;
  border: 1px solid #03fc4e;
}

.form-text,
.btn-success {
  position: relative;
  top: 60px;
}

.form-text{
  font-weight: 500;
  margin-bottom: 10px;
}


@media screen and (min-width:320px) {
  .form-text,
  .btn-success {
    position: relative;
    bottom: 86px;
    margin-left: 10px;
  }

form .imagem_header_form  {
    position: relative;
    right: 0px;
     margin-bottom: 10px;
     border: 1px solid black;
     height: 300px;
     width: 280px;
     border-radius: 20px;
   }










}
@media screen and (min-width:768px) {

  form{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form-text,
  .btn-success {
    position: relative;
    bottom: 86px;
    margin-left: 10px;
  }

form .imagem_header_form  {
    position: relative;

     margin-bottom: 10px;
     border: 1px solid black;
     height: 300px;
     width: 100%;
     border-radius: 20px;
   }

   .btn-success{
    width: 100%;
    position: relative;
    right: 10px;
   }

   .container-sm {
    border-radius: 20px;

    background-color: #c7c0c0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }










}
