.container-sm{
  position: relative;
  bottom: 60px;
}
.title-estoque{
  color: gray;
  font-size: 1.5em;
  margin-top: 0%;
  margin-bottom: 20px;
}

.card{
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.navbar{
  border-radius: 6px;
  background-color: #a986fa;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  text-align: center;
  color: #fff;
}
 nav .title-navbar{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

table{
  margin-top: 15px;
  font-size: 0.8em;
}


.btn{
 
 color: #fff;
  margin-top: 5px;
  margin-bottom: 2px;
 
}

.btn-success{
  background-color: #03fc4e;
  border: 2px solid #03fc4e;

}

.btn-primary{
  background-color: #6745fc;
  border: 2px solid #6745fc;


}

.btn-danger{
  background-color: #ff016b;
  border: 2px solid #ff016b;

}

@media screen and(min-width:320px) {
 
}